body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
}

h1, h2, h5, p {
    color: #333;
    background-color: rgb(red, green, blue);
}

header {
    background-color: #fce4ec;
    color: #333;
}

.navbar-light .navbar-brand {
    color: #ffccbc;
    font-weight: bold;
}

.navbar-light .nav-link {
    color: #ffab91;
}

.nav-link:hover {
    color: #ff7043;
}

#catalogo h2, #about h2, #contacto h2 {
    color: #ffb6b9;
}

.card {
    border: none;
    background-color: #fff3e0;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #ff8a65;
}

footer {
    background-color: #fce4ec;
}

footer a {
    margin: 0 10px;
}

footer a img {
    transition: transform 0.2s;
}

footer a img:hover {
    transform: scale(1.1);
}

button, .btn-primary {
    background-color: #ff8a65;
    border: none;
}

button:hover, .btn-primary:hover {
    background-color: #ff7043;
}
